.footer1{
    background-color: rgb(247, 245, 242);
    margin-top: 43px;
    
   
}

.footer2{
    background-color: rgb(247, 245, 242);
    margin-top: 20px;
}

.helth_11 p{
    padding: 5px;
}

.footer1_title h1{
    font-size: 20px;
    margin-left: 30px;
    color: rgb(79, 75, 75);
}

.solutions{
    margin-left: 10px;
    font-size: 15px;
}

.helth{
margin-left: 25px;
margin-top: 20px;
}

.footer1_title{
    padding-top: 20px;
 }

 .helth_11 p:hover{
    text-decoration: underline;
}










@media only screen and (min-width: 1200px){
.helth{
display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
justify-content: space-between;
margin-top: 23px;
   
    
}

.helth_11 p{
    padding: 3px;
}

.helth_11 p:hover{
    text-decoration: underline;
}

.footer1_title h1{
    font-size: 25px;
    margin-left: 150px;
    color: rgb(79, 75, 75);
}

.footer1_title{
   padding-top: 20px;
}
.solutions{
    margin-left: 10px;
    font-size: 15px;
}

.footer1{
    background-color: rgb(247, 245, 242);
    margin-top: 43px;
    padding: 25px;
   
}

.footer2{
    background-color: rgb(247, 245, 242);
    margin-top: 20px;
    padding: 25px;
}

}