.main_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
   


}

.menu_item_2 {
    display: none;
}

.menu_img img {
    height: 30px;
}

/* .btn button {
    padding: 8px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(97, 194, 232)
} */

.menu_item_3 input {
    display: none;
}

.menu_item_3 button{
    background-color: rgb(24, 165, 220);
    margin-right: 20px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.menu_item_3  i {
    font-size: 25px;
    color: rgb(93, 90, 90);
   margin-top:5px ;
}

.navbar i {
    font-size: 25px;
}





@media only screen and (min-width: 1200px) {
   
    .menu_img img {
        height: 35px;
    }

    .main_menu {
        display: flex;
        justify-content: space-between;
        padding: 25px 50px;
    }


    .menu_item_2 ul {
        display: flex;


    }

    .menu_item_2 ul li {
        padding:20px;
        font-weight: bold;
    }

    .menu_item_2 ul li:hover {
        text-decoration: underline;
    }

    .menu_item_2 {
       
        display: flex;
        flex-wrap: wrap;
    }

    .menu_item_2 ul li {
        list-style-type: none;
        color: rgb(21, 20, 20);
    }

    .item3 ul {
        display: flex;
    }

    .item3 li {
        list-style-type: none;
        padding: 0 10px 0 0;
        font-size: 14px;
    }

    .menu_item_3 input {
        width: 263px;
        padding: 10px;
    }

    .menu_item_3 {
        position: relative;
    }

    .menu_item_3 input {
        display: block;
    }

    .menu_item_3 i {
        position: absolute;
        right: 10px;
        top: 3px;
    }

    .menu_item_3 button{
        display: none;
    }

    .navbar i {
        display: none;
    }

    .item2_2 ul li{
        text-decoration: none;
    }

   

}